<pre class="prettyprint linenums language-html">
&lt;wsk-draggable class=&quot;language&quot; ng-repeat=&quot;language in languages&quot;
    data-to-drag=&quot;language&quot;
    drop-zone=&quot;language.type&quot;&gt;\language.name\
&lt;/wsk-draggable&gt;

&lt;wsk-draggable class=&quot;language&quot; ng-repeat=&quot;language in languages&quot;
data-to-drag=&quot;language&quot;
drop-zone=&quot;language.type&quot;&gt;\language.name\
&lt;/wsk-draggable&gt;

&lt;wsk-draggable class=&quot;language&quot; ng-repeat=&quot;language in languages&quot;
data-to-drag=&quot;language&quot;
drop-zone=&quot;language.type&quot;&gt;\language.name\
&lt;/wsk-draggable&gt;
</pre>