@import "packages/wsk_angular/sass/wsk_styleguide_demo_bp";
@import "packages/wsk_angular/sass/wsk_demo/wsk_demo";

@import "packages/wsk_angular/sass/wsk_dialog/wsk_dialog";

// Only for Sample
@import "packages/wsk_angular/sass/wsk_button/wsk_button";


.dialog.sample {
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-block {
        display: inline-block;
        margin: 20px 20px 20px 0;
    }

    .status {
        font-weight: bold;
    }
}

.wsk-dialog.custom-dialog {
    h5 {
        background-color: #B3D38D;

        position: absolute;
        left: 0;
        top: 0 !important;
        right: 0;
        padding: 24px;
    }

    .wsk-dialog--content {
        margin-top: 68px; // padding * 2 + font-size (20)
        p {
            font-size: 14px;
        }
    }

    .wsk-dialog--actions {
        border-top: 1px solid rgb(231, 231, 231);
    }
}