<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Icon Toggles</title>

  <link rel="stylesheet" href="demo.css">

  <link href='//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
        body[ng-cloak] .angular-controlled {
            display : none;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
        span {
            padding-left : 6px;
        }

        .cols {
            display: flex;
            flex-direction: row;
        }
        .cols > div {
            padding: 10px;
        }
    </style>

</head>
<body ng-cloak>
<div class="angular-controlled">
  <div class="preview-block">
    <div class="button-block">
        <div class="cols">
            <div>
                <h6>Cols are in sync!</h6>
                <ul>
                    <li><wsk-icon-toggle ng-model="toggleOne">♠</wsk-icon-toggle> Toggle: {{toggleOne}}</li>
                    <li><wsk-icon-toggle ng-model="toggleTwo" ng-true-value="'girl'" ng-false-value="'boy'">♣</wsk-icon-toggle> Sex: {{toggleTwo}}</li>
                    <li><wsk-icon-toggle ng-model="toggleThree" ng-true-value="'in bed'" ng-false-value="'awake'">
                        <i class="fa fa-bed"></i>
                    </wsk-icon-toggle><span>you are: {{toggleThree}}</span></li>
                </ul>
            </div>
            <div>
                <h6>Cols are in sync!</h6>
                <ul>
                    <li><wsk-icon-toggle ng-model="toggleOne">♠</wsk-icon-toggle> Toggle: {{toggleOne}}</li>
                    <li><wsk-icon-toggle ng-model="toggleTwo" ng-true-value="'girl'" ng-false-value="'boy'">♣</wsk-icon-toggle> Sex: {{toggleTwo}}</li>
                    <li><wsk-icon-toggle ng-model="toggleThree" ng-true-value="'in bed'" ng-false-value="'awake'">
                        <i class="fa fa-bed"></i>
                    </wsk-icon-toggle><span>you are: {{toggleThree}}</span></li>
                </ul>
            </div>
        </div>

    <h2>Disabled</h2>

        <div class="button-block">
            <wsk-icon-toggle ng-model="toggleOne" disabled>♠</wsk-icon-toggle>
            Toggle: {{toggleOne}}

            <wsk-icon-toggle ng-model="toggleTwo" ng-true-value="'girl'" ng-false-value="'boy'" disabled>♣</wsk-icon-toggle>
            Sex: {{toggleTwo}}

            <wsk-icon-toggle ng-model="toggleThree" ng-true-value="'in bed'" ng-false-value="'awake'" disabled>
                <i class="fa fa-bed"></i>
            </wsk-icon-toggle>
            <span>you are: {{toggleThree}}</span>
        </div>
    </div>
</div>
</div>
  <!-- build:js(app/styleguide/icon-toggle/) ../../scripts/main.min.js -->
    <!-- <script src="../wskComponentHandler.js"></script> -->
    <!-- <script src="icon-toggle.js"></script> -->
    <!-- <script src="../third_party/rAF.js"></script> -->
    <!-- <script src="../ripple/ripple.js"></script> -->
  <!-- endbuild -->
    <!-- start Autogenerated with gensamples.dart -->
    <script type="application/dart" src="main.dart"></script>
    <script type="text/javascript" src="packages/browser/dart.js"></script>
    <!-- end Autogenerated with gensamples.dart -->
</body>
</html>
