<section class="content">
    <article class="dialog sample">
      <div class="preview-block">
        <wsk-button ng-click="openAlertDialog()">Alert Dialog</wsk-button>
        <wsk-button ng-click="openAlertDialogWithTitle()">Alert with title</wsk-button>
        <wsk-button ng-click="openConfirmDialog()">Confirm Dialog</wsk-button>
        <wsk-button ng-click="openCustomDialog()">Custom Dialog</wsk-button>

        <div class="status">Status: {{statusMessage}}</div>
      </div>
    </article>
</section>
