<section class="content">
    <article class="home sample">
        <div class="preview-block">

            <p>The Web Starter Kit (WSK) Angular Material project is an implementation of Material Design in
                AngularDart using Google's WSK CSS-Framework.
                This project provides a set of reusable, well-tested UI components based on the Material Design
                system.</p>

            <h5>What is Material Design?</h5>

            <p><a href="http://www.google.com/design/spec/material-design/introduction.html" target="_blank">Material Design</a>
                is a specification for a unified system of visual, motion, and interaction design that
                adapts across different devices and different screen sizes. Below is a brief video that presents the
                Material Design system:</p>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Q8TXgCzxEnw" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>

        <section class="links" id="links">

            <h6>Links</h6>
            <ul>
                <li><a href="http://google.github.io/material-design-icons/">Googles Material Design Icons - SVG
                    preview</a></li>
                <li><a href="https://developers.google.com/web/starter-kit/">Web Starter Kit</a></li>
                <li><a href="http://www.google.com/design/spec/material-design/">Material design - specifications</a>
                </li>
            </ul>
        </section>
    </article>
</section>
