<section class="content">
    <article class="home sample">
        <div class="preview-block">
            <p>Your starting point for building great multi-device web experiences
                Start your project with the Web Starter Kit and ensure you're following the Web Fundamentals guidelines
                out of the box.</p>

            <h5>Multi-device responsive boilerplate</h5>
            <p>A responsive boilerplate optimized for the multi-screen web, with a high PageSpeed Insights performance
                score.</p>

            <h5>Living component style guide</h5>
            <p>A visual design system for documenting your site’s components that evolves as Web Starter Kit does.</p>

            <h5>Cross-device Synchronization</h5>
            <p>Synchronize clicks, scrolls, forms and live-reload across multiple devices as you edit your project.
                Powered by BrowserSync.</p>

            <h5>Live Browser Reloading</h5>
            <p>Reload the browser in real-time anytime an edit is made without the need for an extension.</p>

            <h5>Performance optimization</h5>
            <p>Minify and concatenate JavaScript, CSS, HTML and Images to help keep your pages lean.</p>

            <h5>Built in HTTP Server</h5>
            <p>A built in server for previewing your site means you can test your pages without messing with other tools.</p>

            <h5>PageSpeed Insights Reporting</h5>
            <p>Web performance metrics showing how well your site performs on mobile and desktop.</p>

            <h5>Sass support</h5>
            <p>Compile Sass into CSS with ease, bringing support for variables, mixins and more.
        </div>
    </article>
</section>
