<section class="content">
    <article class="icon-toggle sample">
        <div class="preview-block">

            <!-- Components -->
          <h5>Basic</h5>
          <div class="button-block">
                <div class="cols">
                    <div>
                        <h6>Cols are in sync!</h6>
                        <ul>
                            <li><wsk-icon-toggle ng-model="toggleOne">♠</wsk-icon-toggle> Toggle: {{toggleOne}}</li>
                            <li><wsk-icon-toggle ng-model="toggleTwo" ng-true-value="'girl'" ng-false-value="'boy'">♣</wsk-icon-toggle> Sex: {{toggleTwo}}</li>
                            <li><wsk-icon-toggle ng-model="toggleThree" ng-true-value="'in bed'" ng-false-value="'awake'">
                                <i class="fa fa-bed"></i>
                            </wsk-icon-toggle><span>you are: {{toggleThree}}</span></li>
                        </ul>
                    </div>
                    <div>
                        <h6>Cols are in sync!</h6>
                        <ul>
                            <li><wsk-icon-toggle ng-model="toggleOne">♠</wsk-icon-toggle> Toggle: {{toggleOne}}</li>
                            <li><wsk-icon-toggle ng-model="toggleTwo" ng-true-value="'girl'" ng-false-value="'boy'">♣</wsk-icon-toggle> Sex: {{toggleTwo}}</li>
                            <li><wsk-icon-toggle ng-model="toggleThree" ng-true-value="'in bed'" ng-false-value="'awake'">
                                <i class="fa fa-bed"></i>
                            </wsk-icon-toggle><span>you are: {{toggleThree}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
          <h5>Disabled</h5>
          <div class="button-block">
            <wsk-icon-toggle ng-model="toggleOne" disabled>♠</wsk-icon-toggle>
            Toggle: {{toggleOne}}

            <wsk-icon-toggle ng-model="toggleTwo" ng-true-value="'girl'" ng-false-value="'boy'" disabled>♣</wsk-icon-toggle>
            Sex: {{toggleTwo}}

            <wsk-icon-toggle ng-model="toggleThree" ng-true-value="'in bed'" ng-false-value="'awake'" disabled>
              <i class="fa fa-bed"></i>
            </wsk-icon-toggle>
            <span>you are: {{toggleThree}}</span>
          </div>

          <h5>Simulate checkbox</h5>
          <div class="button-block">
            <wsk-icon-toggle ng-model="toggleOne">
              <i class="fa fa-check-square-o" ng-if="toggleOne"></i>
              <i class="fa fa-square-o" ng-if="!toggleOne"></i>
            </wsk-icon-toggle> Toggle: {{toggleOne}}
          </div>

          <h5>Rotate SVG + change color</h5>
          <div class="button-block">
              <wsk-icon-toggle ng-model="toggleChevron">
                <svg class="chevron-right"  ng-class="{'rotate-45-right' : toggleChevron }"
                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 18 18">
                  <path d="M7.5 4.5L6.44 5.56 9.88 9l-3.44 3.44L7.5 13.5 12 9z"/>
                </svg>
              </wsk-icon-toggle>
          </div>
       </div>
    </article>
</section>
