<section class="content">
    <article class="nav-pills sample">
        <div class="preview-block">
            <div url="views/usage/nav-pills.html" pretty-print></div>

            <ul class="wsk-nav-pills">
                <li>Test1</li>
                <li class="wsk-nav-pill--accent wsk-nav-pill--light-text">Test2</li>
                <li><a href="#">Test3</a></li>
            </ul>

            <!--<div class="wsk-nav-pill">Test 4</div>-->
            <!--<div class="wsk-nav-pill"><a href="#">Test5</a></div>-->

            <wsk-nav-pill>Test 4</wsk-nav-pill>
            <wsk-nav-pill><a href="#">Test5</a></wsk-nav-pill>

            <ul class="wsk-nav-pills wsk-nav-pills--as-row wsk-nav-pill--light wsk-nav--light-text">
                <li>Test1</li>
                <li>Test2</li>
                <li><a href="#">Test3</a></li>
                <li>Test4</li>
                <li>Test5</li>
                <li>Test6</li>
                <li class="wsk-nav-pill--lighter"><a href="#">Test7</a></li>
                <li>Test8</li>
                <li>Test9</li>
                <li>Test10</li>
                <li>Test11</li>
                <li>Test12</li>
                <li>Test13</li>

            </ul>
            <wsk-nav-pill>Test 6</wsk-nav-pill>
            <wsk-nav-pill>Test 7</wsk-nav-pill>
            <div class="testblock">Testblock - should stay in place</div>

            <ul class="wsk-nav-pills wsk-nav-pill--dark wsk-nav-pill--light-text">
                <li>Test1</li>
                <li class="wsk-nav-pill--darker">Test2 - darker</li>
                <li><a href="#">Test3</a></li>
            </ul>

            <wsk-nav-pill>Test 4</wsk-nav-pill>
            <wsk-nav-pill class="wsk-nav-pill--accent wsk-nav--light-text">Test 5 - accent</wsk-nav-pill>

            <ul class="wsk-nav-pills wsk-nav-pills--as-row wsk-nav-pill--accent">
                <li>Test1</li>
                <li class="wsk-nav-pill--darker wsk-nav-pill--light-text">Test2 darker</li>
                <li><a href="#">Test3</a></li>
            </ul>
            <wsk-nav-pill>Test 6</wsk-nav-pill>
            <wsk-nav-pill class="wsk-nav-pill--darker wsk-nav-pill--light-text">Test 7</wsk-nav-pill>
            <div class="testblock">Testblock - should stay in place</div>
        </div>
    </article>
</section>
