<section class="content">
    <article class="panel sample">
        <div class="preview-block">
            <div url="views/usage/panel.html" pretty-print></div>

            <wsk-panel>Simple panel</wsk-panel>

            <wsk-panel class="wsk-panel--shadow">With shadow</wsk-panel>

            <wsk-panel class="wsk-panel--light wsk-panel--light-text">Light panel, light text</wsk-panel>

            <wsk-panel class="wsk-panel--lighter">Lighter panel</wsk-panel>

            <wsk-panel class="wsk-panel--dark">Dark panel</wsk-panel>

            <wsk-panel class="wsk-panel--dark wsk-panel--light-text">Dark panel, light text</wsk-panel>

            <wsk-panel class="wsk-panel--darker wsk-panel--light-text">Darker panel, light text</wsk-panel>

            <wsk-panel class="wsk-panel--darker wsk-panel--light-text wsk-panel--shadow">Darker panel, light text + shadow</wsk-panel>

            <wsk-panel class="wsk-panel--accent wsk-panel--light-text">Accent panel, light text</wsk-panel>

            <wsk-panel class="wsk-panel--accent wsk-panel--light-text wsk-panel--shadow">Accent panel, light text + shadow</wsk-panel>

            <wsk-panel class="wsk-panel--with-heading wsk-panel--dark wsk-panel--light-text">
                <div class="wsk-panel__heading">Panel heading</div>
                <div class="wsk-panel__content">Panel content</div>
            </wsk-panel>

            <wsk-panel class="wsk-panel--with-heading wsk-panel--accent wsk-panel--light-text wsk-panel--shadow">
                <div class="wsk-panel__heading">Panel heading</div>
                <div class="wsk-panel__content">Panel content + shadow</div>
            </wsk-panel>
        </div>
    </article>
</section>
