<section class="content">
    <article class="spinner sample">
      <div class="preview-block">
        <h5>Basic</h5>
        <p>
          Default:
          <wsk-spinner class="is-active"></wsk-spinner>
          Activated via attribute:
          <wsk-spinner is-active></wsk-spinner>
        </p>
        <p>
          Single color (uses primary palette):
          <wsk-spinner class="is-active single-color"></wsk-spinner>
          Via attribute:
          <wsk-spinner is-active single-color></wsk-spinner>
        </p>

        <h6>Toggle state</h6>
        <p>
          Current state: <span ng-if="activated">active</span><span ng-if="!activated">inactive</span>
          <wsk-spinner ng-class="{'is-active':activated}"></wsk-spinner>
        <div>
          <wsk-button ng-model="activated" raised>Toggle state</wsk-button>
        </div>
        </p>
      </div>
    </article>
</section>
