<section class="content">
    <article class="tabs sample">
        <div class="preview-block">

            <wsk-tabs>
                <wsk-tab-bar>
                    <wsk-tab href="#starks-panel" class="is-active">Sample I</wsk-tab>
                    <wsk-tab href="#lannisters-panel">Sample II</wsk-tab>
                    <wsk-tab href="#targaryens-panel">Sample III</wsk-tab>
                </wsk-tab-bar>

                <wsk-tabs-panel class="is-active" id="starks-panel">
                    <ul>
                        <li>Eddard</li>
                        <li>Catelyn</li>
                        <li>Robb</li>
                        <li>Sansa</li>
                        <li>Brandon</li>
                        <li>Arya</li>
                        <li>Rickon</li>
                    </ul>
                </wsk-tabs-panel>
                <wsk-tabs-panel id="lannisters-panel">
                    <ul>
                        <li>Tywin</li>
                        <li>Cersei</li>
                        <li>Jamie</li>
                        <li>Tyrion</li>
                    </ul>
                </wsk-tabs-panel>
                <wsk-tabs-panel id="targaryens-panel">
                    <ul>
                        <li>Viserys</li>
                        <li>Daenerys</li>
                    </ul>
                </wsk-tabs-panel>
            </wsk-tabs>
        </div>
    </article>
</section>
