/** --------------------------------------------------------------------------------------------------------------------
 It is recommended to run autoprefixer on the generated .CSS
*/

@import "packages/wsk_material/sass/styleguide_demo_bp";
@import "colors"; // Theming

// Make the layout work
@import "packages/wsk_material/sass/layout/layout";

// Tabs
@import "packages/wsk_material/sass/tabs/_tabs";

// Button
@import "packages/wsk_material/sass/shadow/shadow";
@import "packages/wsk_material/sass/button/button";

// Animation
@import "packages/wsk_material/sass/card/card";
@import "packages/wsk_material/sass/animation/animation";

// Checkbox
@import "packages/wsk_material/sass/checkbox/_checkbox";

// Dropdown
@import "packages/wsk_material/sass/item/item";
@import "packages/wsk_material/sass/dropdown-menu/_dropdown-menu";

// Footer
@import "packages/wsk_material/sass/footer/mega_footer";
@import "packages/wsk_material/sass/footer/mini_footer";

// Icon-Toggle
@import "packages/wsk_material/sass/icon-toggle/_icon-toggle";

// Items
@import "packages/wsk_material/sass/item/item";

// List
@import "packages/wsk_material/sass/list/list";

// Pallet
@import 'packages/wsk_material/sass/palette/palette';

// Radio
@import "packages/wsk_material/sass/radio/_radio";

// Shadow
@import "packages/wsk_material/sass/shadow/_shadow";

// Slider
@import "packages/wsk_material/sass/slider/_slider";

// !!! IMPORTANT !!! You must include wsk_spinner instead of spinner!!
@import "packages/wsk_angular/sass/wsk_spinner/_wsk_spinner";

// Styleguide
@import "_demo/styleguide";

// Necessary for demo-Views
@import "_demo/typography";
@import "_demo/animation";
@import "_demo/button";
@import "_demo/card";
@import "_demo/footer";
@import "_demo/icon-toggle";
@import "_demo/pallet";
@import "_demo/radio";
@import "_demo/shadow";
@import "_demo/slider";

$padding: 24px;

html, body {
    margin     : 0;
    padding    : 0;
    height     : 100%;
    min-height : 100%;

    color: $text-color-primary;
}

body {
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;

    min-height: 100vh;

    &.debug {
        border: 2px solid red;
    }

    > header, > footer, > main {
        width: 100%;
    }

    > header, > footer {
        height: 50px;
        border: 2px solid blue;
        flex-grow: 0;
    }

    > main {
        flex-grow: 1;
        flex-basis: 0;
        overflow: scroll;

        .content {
            padding: 0 $padding;
        }
    }

    .wsk-layout {
        height: 100vh;
    }
}

.todo {
    display: block;
    padding: 12px;
    border: 1px solid $button-fab-color-alt;
    background-color: orange;
    color: $layout-header-bg-color;
}