//-------------------------------------------------------------------------------------------------
//  Icon-Toggle - DEMO

.icon-toggle.sample {

    ul {
        padding         : 0;
        margin          : 0;
        list-style-type : none;
    }
    span {
        padding-left : 6px;
    }

    .cols {
        display        : flex;
        flex-direction : row;

        > div {
            padding : 10px;
        }
    }

    .button-block {
        display : inline-block;
        margin  : 0 20px 20px 0;
    }

    .chevron-right {
        transition : 0.5s ease-in-out;

        &.rotate-45-right {
            transform  : rotate(90deg);
            transition : 0.5s ease-in-out;
            stroke: $radio-color;
        }
    }

}
