//-------------------------------------------------------------------------------------------------
// Button

.button.sample {

    .button-block {
        display: inline-block;
        margin: 15px 20px 5px 0;
    }

    h6 {
        font-style: italic;
    }

    .light {
        font-size: 20px;

        &.on {
            color: orange;
        }
    }

    h5.disabled {
        text-decoration: line-through;
    }
    .wsk-checkbox {
        margin: 0 0 24px 0;
    }
}
