//-------------------------------------------------------------------------------------------------
//  Card - DEMO

.cards.sample {
    .wsk-card {
        margin : 0;
        margin-bottom: 24px;
    }
    .wsk-card:nth-child(1) {
        width : 310px;
    }
    .wsk-card:nth-child(2) {
        width : 600px;
    }
}
