//-------------------------------------------------------------------------------------------------
// Styleguide

.styleguide-demo {

    wsk-layout-header .wsk-layout-title {
        text-transform: capitalize;
        font-weight: 200;

        @media screen and (max-width: $layout-screen-size-threshold) {
            padding-left: 30px;
        }
    }

    wsk-drawer {
        .wsk-layout-title {
            background-color: $layout-header-bg-color;
            color: white;

            a {
                color: white;
                text-decoration: none;
            }
        }

        nav.wsk-navigation > a {
            font-size: 16px;
            padding-left: 16px;
            color: $accordion-text-color;
            line-height: 48px;

            border-bottom: 1px solid $accordion-divider-color;
            &.no-border {
                border-bottom: none;
            }
        }

        .wsk-navigation__link {
            padding: 2px 24px;
            font-weight: 500;
        }

        nav a.active {
            color: $button-primary-color-alt;
        }
    }

    article {
        &.sample {
            margin-top : 24px;
        }

        > {
            h1 { padding-top: ($padding / 2); text-transform: capitalize; }

            h1:after {
                content       : '';
                display       : block;
                width         : 100%;
                border-bottom : 1px solid rgba(0, 0, 0, 0.5);
                margin-top    : $padding;
                margin-bottom : $padding;
            }
        }

    }
}

