.toast.sample {
    .container {
        position: relative;
        border: 1px dotted black;
        min-height: 200px;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 20px;
    }

    .status {
        margin: 12px;
        span {
            font-weight: bold;
        }
    }

    .position {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start; // ⇾
        align-content: space-between; // ||
        align-items: flex-start; // ↓

        margin-left: 24px;

        > * {
            margin-right: 10px;
        }
    }
}

body > .wsk-toast-container {
    .wsk-toast {
        &.wsk-toast--top {
            top: $layout-header-desktop-row-height;
            @media screen and (max-width: $layout-screen-size-threshold) {
                top: $layout-header-mobile-row-height;
            }
        }
    }
}