<section class="home">
    <header>
        <h3>SPA - Home</h3>
        <h4>fixed footer + bottom-bar</h4>
    </header>

    <wsk-panel class="wsk-panel--shadow">
        <h4>Card 1</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend
        lacinia. Donec ut risus suscipit, convallis diam et, mattis urna. Phasellus sit amet ipsum nisl.
        Aliquam sed dictum neque. Vestibulum tempus at lacus et volutpat. Mauris molestie vel mauris id
        scelerisque.</p>
    </wsk-panel>

    <wsk-panel class="wsk-panel--shadow">
        <h4>Card 2</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend
            lacinia. Donec ut risus suscipit, convallis diam et, mattis urna. Phasellus sit amet ipsum nisl.
            Aliquam sed dictum neque. Vestibulum tempus at lacus et volutpat. Mauris molestie vel mauris id
            scelerisque.</p>
    </wsk-panel>

</section>