/** --------------------------------------------------------------------------------------------------------------------
 It is recommended to run autoprefixer on the generated .CSS
*/

@import "packages/wsk_angular/sass/wsk_styleguide_demo_bp";
@import "packages/wsk_angular/sass/wsk_demo/wsk_demo";

@import "colors"; // Theming

// Make the layout work
@import "packages/wsk_angular/sass/wsk_layout/wsk_layout";

// Tabs
@import "packages/wsk_angular/sass/wsk_tabs/wsk_tabs";

// Button
@import "packages/wsk_angular/sass/wsk_shadow/wsk_shadow";
@import "packages/wsk_angular/sass/wsk_button/wsk_button";

// Card - with default width set to 310px...
$card-width: 310px;
@import "packages/wsk_angular/sass/wsk_card/wsk_card";

// Animation
@import "packages/wsk_angular/sass/wsk_animation/wsk_animation";

// Checkbox
@import "packages/wsk_angular/sass/wsk_checkbox/wsk_checkbox";

// Dropdown
@import "packages/wsk_angular/sass/wsk_item/wsk_item";
@import "packages/wsk_angular/sass/wsk_dropdown-menu/wsk_dropdown-menu";

// Footer
@import "packages/wsk_angular/sass/wsk_footer/wsk_mega_footer";
@import "packages/wsk_angular/sass/wsk_footer/wsk_mini_footer";

// Icon-Toggle
@import "packages/wsk_angular/sass/wsk_icon-toggle/wsk_icon-toggle";

// Items
@import "packages/wsk_angular/sass/wsk_item/wsk_item";

// List
@import "packages/wsk_angular/sass/wsk_list/wsk_list";

// Pallet
@import 'packages/wsk_angular/sass/wsk_palette/wsk_palette';

// Radio
@import "packages/wsk_angular/sass/wsk_radio/wsk_radio";

// Shadow
@import "packages/wsk_angular/sass/wsk_shadow/wsk_shadow";

// Slider
@import "packages/wsk_angular/sass/wsk_slider/wsk_slider";

// !!! IMPORTANT !!! You must include wsk_spinner instead of spinner!
@import "packages/wsk_angular/sass/wsk_spinner/wsk_spinner";

// Switch
@import "packages/wsk_angular/sass/wsk_switch/wsk_switch";

// Tooltip
@import "packages/wsk_angular/sass/wsk_tooltip/wsk_tooltip";

// Textfield
@import "packages/wsk_angular/sass/wsk_textfield/wsk_textfield";

// Dialog
@import "packages/wsk_angular/sass/wsk_dialog/wsk_dialog";

// Accordion
@import "packages/wsk_angular/sass/wsk_accordion/wsk_accordion";

// Drag & Drop
@import "packages/wsk_angular/sass/wsk_dragdrop/wsk_dragdrop";

// Styleguide
@import "_demo/styleguide";

// Necessary for demo-Views
@import "_demo/typography";
@import "_demo/tabs";
@import "_demo/animation";
@import "_demo/button";
@import "_demo/card";
@import "_demo/footer";
@import "_demo/icon-toggle";
@import "_demo/pallet";
@import "_demo/radio";
@import "_demo/shadow";
@import "_demo/slider";
@import "_demo/switch";
@import "_demo/tooltip";
@import "_demo/textfield";
@import "_demo/dialog";
@import "_demo/accordion";
@import "_demo/draganddrop";

$padding: 24px;

html, body {
    margin     : 0;
    padding    : 0;
    height     : 100%;
    min-height : 100%;

    color: $text-color-primary;
}

body {
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;

    min-height: 100vh;

    &.debug {
        border: 2px solid red;
    }

    > header, > footer, > main {
        width: 100%;
    }

    > header, > footer {
        height: 50px;
        border: 2px solid blue;
        flex-grow: 0;
    }

    > main {
        flex-grow: 1;
        flex-basis: 0;
        overflow: scroll;

        .content {
            padding: 0 $padding;
        }
    }

    .wsk-layout {
        height: 100vh;
    }
}

.todo {
    display: block;
    padding: 12px;
    border: 1px solid $button-fab-color-alt;
    background-color: orange;
    color: $layout-header-bg-color;
}