<section class="content">
    <article class="animation sample">
        <div class="preview-block">

            <wsk-animation>
                <div class="demo-animate-container">
                    <div class="demo-animate-container--background">Click me to animate</div>
                    <div class="demo-animate-container--foreground"></div>
                    <div class="demo-paper-card wsk-shadow--z1 demo-position-1 demo-js-movable-area"></div>
                </div>
            </wsk-animation>
        </div>
    </article>
</section>
