<section class="content">
    <article class="button sample">
        <div class="preview-block">

            <h5>Simple</h5>
            <div class="button-block">Flat:
                <wsk-button ripple="off">Flat</wsk-button>
            </div>
            <div class="button-block">Raised:
                <wsk-button ripple="off" raised>Raised</wsk-button>
            </div>
            <div class="button-block">FAB:
                <wsk-button ripple="off" fab>♥</wsk-button>
            </div>
            <div class="button-block">Icon:
                <wsk-button ripple="off" icon>♥</wsk-button>
            </div>

            <h6>with Ripples</h6>
            <div class="button-block">Flat:
                <wsk-button >Flat</wsk-button>
            </div>
            <div class="button-block">Raised:
                <wsk-button raised >Raised</wsk-button>
            </div>
            <div class="button-block">FAB:
                <wsk-button raised fab >♥</wsk-button>
                <!--<wsk-button raised fab ripple ng-click="handleEvent($event)">♥</wsk-button>-->
            </div>
            <div class="button-block">Icon:
                <wsk-button icon >♥</wsk-button>
            </div>

            <h5>Colored</h5>
            <div class="button-block">Flat:
                <wsk-button colored ripple="off">Flat</wsk-button>
            </div>
            <div class="button-block">Raised:
                <wsk-button raised colored ripple="off">Raised</wsk-button>
            </div>
            <div class="button-block">FAB:
                <wsk-button fab colored ripple="off">♥</wsk-button>
            </div>
            <div class="button-block">Mini FAB:
                <wsk-button minifab colored ripple="off">♥</wsk-button>
            </div>

            <h6>with Ripples</h6>
            <div class="button-block">Flat:
                <wsk-button colored >Flat</wsk-button>
            </div>
            <div class="button-block">Raised:
                <wsk-button raised colored >
                    Raised
                </wsk-button>
            </div>
            <div class="button-block">FAB:
                <wsk-button fab colored >♥</wsk-button>
            </div>
            <div class="button-block">Mini FAB:
                <wsk-button minifab colored >♥</wsk-button>
            </div>

            <h5>Disabled</h5>
            <div class="button-block">Flat:
                <wsk-button disabled>Flat</wsk-button>
            </div>
            <div class="button-block">Raised:
                <wsk-button raised disabled>Raised</wsk-button>
            </div>
            <div class="button-block">FAB:
                <wsk-button fab disabled>♥</wsk-button>
            </div>
            <div class="button-block">Icon:
                <wsk-button icon disabled>♥</wsk-button>
            </div>
        </div>
    </article>
</section>
