<section class="content">
    <article class="checkbox sample">
        <div class="preview-block">

            <!-- Components -->
            <wsk-checkbox >Check me out: {{checkOne}}</wsk-checkbox>
            <wsk-checkbox ng-model="checkTwo" ng-true-value="'girl'" ng-false-value="'boy'">
                I'm just a Material {{checkTwo}} in a Material world
            </wsk-checkbox>
            <wsk-checkbox>Try using checkboxes</wsk-checkbox>
            <wsk-checkbox ng-model="checkThree" disabled>But not this one: {{checkThree}}</wsk-checkbox>
        </div>
    </article>
</section>
