<section id="content">
    <article class="home sample">
        <h1>{{name}}</h1>

        <div class="PreviewBlock">
            <p>Your starting point for building great multi-device web experiences
                Start your project with the Web Starter Kit and ensure you're following the Web Fundamentals guidelines
                out of the box.</p>

            <h3>Multi-device responsive boilerplate</h3>
            <p>A responsive boilerplate optimized for the multi-screen web, with a high PageSpeed Insights performance
                score.</p>

            <h3>Living component style guide</h3>
            <p>A visual design system for documenting your site’s components that evolves as Web Starter Kit does.</p>

            <h3>Cross-device Synchronization</h3>
            <p>Synchronize clicks, scrolls, forms and live-reload across multiple devices as you edit your project.
                Powered by BrowserSync.</p>

            <h3>Live Browser Reloading</h3>
            <p>Reload the browser in real-time anytime an edit is made without the need for an extension.</p>

            <h3>Performance optimization</h3>
            <p>Minify and concatenate JavaScript, CSS, HTML and Images to help keep your pages lean.</p>

            <h3>Built in HTTP Server</h3>
            <p>A built in server for previewing your site means you can test your pages without messing with other tools.</p>

            <h3>PageSpeed Insights Reporting</h3>
            <p>Web performance metrics showing how well your site performs on mobile and desktop.</p>

            <h3>Sass support</h3>
            <p>Compile Sass into CSS with ease, bringing support for variables, mixins and more.
        </div>
    </article>
</section>
