<section class="content">
  <article class="item sample">
    <div class="preview-block">

      <!--<pre><source ng-include="/views/source/item.sample.html"><source></pre>-->
      <div ></div>
      <h5>Button</h5>
      <button wsk-item>Australia</button>
      <button wsk-item>Canada</button>
      <button wsk-item disabled>United States of America</button>
      <button wsk-item>United Kingdom</button>

      <br/><br/>
      <h5>Anchor</h5>
      <a href="#" wsk-item>Web Starter Kit</a>

    </div>
  </article>
</section>
